<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header.html %}
      <div class="contact-list">
        <a class="twitter-link" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2F127.0.0.1%3A4000%2F&region=follow_link&screen_name=joermungandr&tw_p=followbutton">
          <i class="fa fa-twitter fa-2x"></i></a>
          <i class="fa fa-github fa-2x"></i>
          <i class="fa fa-pinterest fa-2x"></i>
          <i class="fa fa-instagram fa-2x"></i>
          <i class="fa fa-tumblr fa-2x"></i> 
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>

</html>
